/* soft reset css*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
    background-image: url('../img/mapa.jpg');
    background-size:auto 100vh;
    font-family: Arial;
    background-color: lightsteelblue;
    backdrop-filter: blur(10px);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

  }
  
header{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
a{
    text-decoration: none;
    color: lightsteelblue;
    font-weight: bold;
    
   }
  
a:hover{
    color: midnightblue;
    background-color: lightsteelblue;
    text-decoration: underline;
    border-radius: 10px;
  }
  
.menu{
    background-color: midnightblue;
    padding:3vh;
    position: fixed;
    width: 100vw;
    top:0;
  }
  
.menu  ul{
    display: flex;
    justify-content: space-around;   
  }
  
.menu li{
    list-style: none;
  }
.menu a{
  display: block;
  padding: 10px 20px;
}

.card{
  background-color: rgba(176, 196, 222, 0.5);
  padding: 3rem;
  border-radius: 10px;
  border-style: solid;
  border-color: midnightblue;
  display:flex;
}
  
.site-subtitle,
.site-title{
    color: midnightblue;
    text-align: center;
    font-weight: bolder;
    padding:3vh;
  }

.site-title, .menu{
  font-family: 'Saira Stencil One', cursive;
}
  
.site-subtitle, .portfolio figcaption{
    font-style: italic;
    font-family: 'Jim Nightshade', cursive;
  }

.img-portfolio, .img-head{
    width: 180px;
    height: 180px;
  }
.img-head{
  border-radius: 50%;
  text-align: center;
  border-style:solid;
  border-color: midnightblue;
}

.site-section{
  display: block;
  font-family: 'Saira Stencil One', cursive;
  line-height:3rem;
  padding: 3rem;

}

.portfolio{
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  background-color: midnightblue;
  color: lightsteelblue;
  text-align: center;
  font-size: 1.5em;
  padding:2rem;
  margin-bottom: 1.5rem;
}

.portfolio figure{
  text-align: center;
}

.img-foto-container{
  display: grid;
  gap: 1rem;
  justify-content: center;
   
}
.img-portfolio{
  padding:0.2em;
  border-radius: 50%;
  border-style: solid;
  border-color: lightsteelblue;
}



@media(min-width: 960px) {
  body{
    font-size: 1.5rem;

  }
  
}


  @media(min-width:480px){

    .img-foto-container{
      grid-template-columns: 45% 45%;
       
    }

  }

  @media(min-width:640px) {
    .img-foto-container{
      grid-template-columns: 30% 30% 30%;
       
    }

    .img-portfolio, .img-head{
      width: 250px;
      height: 250px;

    }
    
  }

  @media(min-width:1200px){
    .img-foto-container{
      grid-template-columns: 22% 22% 22% 22%;
       
    }
  }


