body{
    background-image: url('https://static.wixstatic.com/media/ef059d_fbe866d670694671bd74f74f55a89de6~mv2.jpg');
    background-size:auto 100vh;
    font-family: Arial;
  }
  
  a{
    text-decoration: none;
    color: lightsteelblue;
    font-weight: bold;
    
   }
  
  a:hover{
    color: white;
    text-decoration: underline;
  }
  
  .menu{
    background-color: midnightblue;
    padding:5vh;
  }
  
  .menu  ul{
    display: flex;
    justify-content: space-around;   
  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    color: midnightblue;
    text-align: center;
    font-weight: bolder;
    padding:3vh;
  }
  
  .site-subtitle{
    font-style: italic;
  }